
a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29088A;
}

#menu{
    list-style-type: none;
    display: flex;
    background-color: #29088A;

}

#menu li{
    padding: 8px 12px;
}

#menu li:hover{
    background-color: gray;
}

#icon{
    position: absolute;
    right: 32px;
}



@media screen and (max-width:600px){

}




